#container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color:#8ad1bf ;
}

.card {
    margin: 10px;
}
/* Index.html */
#landing{
    width: 100%;
    height: 100%;
    background-color: #A0F4E7;
    padding-top: 5%;
    padding-bottom: 5%;
}
.banner{
    width: 50%;
    margin: auto;
    
}
.surgio{
    background-color: aliceblue;
    padding-top: 5%;
    padding-bottom: 5%;
}
.encabezado{
    background-color: bisque;
}
.header{
    background-color: aliceblue;
}